<div class = 'form'>
  <%= form_with(model: @task, url: new_task_path, local: true) do |form| %>
    <div class="field">
      <%= form.label :title,class: "label" %>
      <%= form.text_field :title, style: "margin: 0px; width:583.6px; height: 50px;" %>
    </div>

    <div class="field">
      <%= form.label :description,class: "label" %>
      <%= form.text_field :description, style: "margin: 0px; width:583.6px; height: 50px;" %>
    </div>

    <div class="field">
      <%= form.label :start_date %>
      <%= form.datetime_select :start_date %>
    </div>

    <div class="field">
      <%= form.label :end_date %>
      <%= form.datetime_select :end_date %>
    </div>

    <div class="field">
      <%= form.label :event, class: "label" %>
      <%= form.text_field :event, style: "margin: 0px; width:583.6px; height: 50px;"%>
    </div>

    <div class="field">
      <%= form.label :members, class: "label" %>
      <%= form.text_field :members, style: "margin: 0px; width:583.6px; height: 50px;" %>
    </div>

    <div class="actions">
      <%# <%= form.submit class: 'button is-primary' %>
      <%= link_to 'Submit', tasks_path, class: 'button is-primary' %>
    </div>
  <% end %>
</div>