
    <% if current_user.admin == true %>
    	<%= redirect_to rails_admin_path %>
    <% elsif current_user.role == "teacher" %>
    	<%= redirect_to teachers_path %> 
    <% elsif current_user.role == "student" %>
    	<%= redirect_to students_path %>
    <% else %>
      	<div class = 'log-in'>
          <% if current_user.nil? %>
            <%= link_to 'Tara na!', new_user_session_path, class: 'button is-success is-inverted is-outlined is-medium' %>
          <% elsif current_user.admin == true %>
            <h3>Welcome Admin</h3>
          <% elsif current_user.role == "teacher" %>
            <h3>Welcome Teacher</h3>
          <% elsif current_user.role == "student" %>
            <h3>Welcome Student</h3>
          <% end %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        </div>
    <%end%>


