<% if current_user.role == "teacher" %>
    <div class="container">   
        <% if !@homework.errors.empty? %>   
            <div>                   
                <ul>   
                    <% @homework.errors.full_messages.each do |msg| %>   
                        <li><%= msg %></li>   
                    <% end %>   
                </ul>   
                    
            </div>   
        <% end %>   
        
        <div>   
            <%= form_for @homework, url: homeworks_path do |f| %>   
                <div>               
                    <%= f.label :name %>  <br>
                    <%= f.text_field :name %>  
                </div>
                <br>
                <div> 
                    <%= f.label :attachment %><br>   
                    <%= f.file_field :attachment %>   
                </div>
                <br>   
                <div> 
                     <%= f.submit "Save" %>   
                </div>
            <% end %>   
        </div>   
    </div>

<% else %>
    <h3>You have no access to this page. Sorry :(</h3>
<% end %>