<% if current_user.role == "teacher" %>
    <div class="container">   
        <% if !@homework.errors.empty? %>   
            <div>                   
                <ul>   
                    <% @homework.errors.full_messages.each do |msg| %>   
                        <li><%= msg %></li>   
                    <% end %>   
                </ul>   
                    
            </div>   
        <% end %>   
        
        <div>   
            <%= form_for @homework, html: { multipart: true } do |f| %>   
                <%= f.label :name, class: "label"%>   
                <%= f.text_field :name, style: "margin: 0px; width:583.6px; height: 50px;"%>   
                <br><br>   
                <%= f.label :attachment, class: "label" %>   
                <%= f.file_field :attachment, style: "margin: 20px; width:583.6px; height: 50px;font-size: 20px;"  %>   
                <br>   
                <%= f.submit "Save", class: 'button is-primary', style: "margin: 20px; width:583.6px; height: 50px;font-size: 20px;"  %>   
            <% end %>   
        </div>   
    </div>

<% else %>
    <h3>You have no access to this page. Sorry :(</h3>
<% end %>