<h1><%= @homework.name %></h1>
<hr>


    <% if current_user.role == "teacher" %>
    <h1>Answers</h1>
        <% @homework.answers.each do |answer| %>
            <div class="well">               
                <p><strong><%= answer.name %></strong></p>            
                    <button><%= link_to "View", answer.attachment_url %></button>
                <button><%= link_to "Delete", homework_answer_path(answer), method: :delete %></button>
            </div>
        <% end %>  
    <% end %>       

<hr>


<% if current_user.role == "student" %>
    <h1> Add Answers</h1>
    <br>

    <div>   
        <%= form_for([@homework, @homework.answers.build]) do |f| %>   
            <div>               
                <%= f.label :name %>: <%= f.text_field :name %>  
            </div>
            <br>
            <div> 
                <%= f.label :attachment %>: <%= f.file_field :attachment %>   
            </div>
            <br>   
            <div> 
                    <%= f.submit "Save" %>   
            </div>
        <% end %>   
    </div>   
<% end %>


